body {
  /*background-color: slateblue;*/
}
/*************************
        CLEAR FIX
*************************/
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
/************************************
        SEARCH FORM: All Pages
************************************/

.search_form input {
  font-size: 1.25em;
  float: left;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin-left: 5%;
}
.search_form .btn {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
}

/************************************
        SEARCH FORM: HOME PAGE
************************************/
.home_search_form {
  position: relative;
  height: 45vh;
  max-width: 650px;
  margin: auto;
}
.home_search_form .search_form {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home_search_form .search_form input {
  width: 65%;
}
/************************************
                NAVBAR
************************************/
.navbar {
  border-radius: 0;
  background-color: slateblue;
  margin-bottom: 0;
}
.navbar-header .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}
form.navbar-form.navbar-left.ng-pristine.ng-valid {
  /*display: none;*/
  text-align: center;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: antiquewhite;
}
/************************************
          MOVIE RESULTS PAGE
************************************/
img {
  width: 100%;
}
.results {
  margin-top: 30px;
}
.search {
  margin-top: 20px;
}
.movieResultsWrapper {
  margin-top: 30px;
}
.keyword {
  color: slateblue;
}
.movieResultsWrapper > *:nth-child(2n+1) {
   clear: both;
}
.movieResult {
  text-align: center;
}
.noPosterMovie {
  margin-top: 50%;
  display: block;
  font-size: 2em;
}
/************************************
          MOVIE DETAILS PAGE
************************************/
.movieDetails {
  margin-top: 30px;
}
.detailsRow {
  margin-top: 20px;
}
.detailsRow img {
  max-width: 350px;
}
/************************************
              MEDIA QUERIES
************************************/
.movieResultsWrapper .col-xs-6 {
  padding: 0;
}
/*@media screen and (max-height: 550px) {
  .movieResultsWrapper .col-xs-6 {
    padding: 0;
  }
}*/
@media screen and (min-width: 768px) {
  /*.container {
    width: 100%;
  }*/
  .movieResultsWrapper > *:nth-child(2n+1) {
     clear: none;
  }
  .movieResultsWrapper > *:nth-child(3n+1) {
     clear: both;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 10px;
    top: 0;
  }
  form.navbar-form.navbar-left.ng-pristine.ng-valid, .navbar-left {
    display: block;
    text-align: center;
    float: none!important;
  }
}
@media screen and (min-width: 992px) {
  .movieResultsWrapper > *:nth-child(3n+1) {
     clear: none;
  }
  .movieResultsWrapper > *:nth-child(4n+1) {
     clear: both;
  }
}

/*.movieResult {
  float: left;*/
  /*height: 380px;
  overflow: hidden;
  position: relative;
  text-align: center;*/
/*}*/
/*.noPosterMovieWrapper {
  width: 100%;
  background-color: blue;
  height: 380px;*/
  /*margin: 0 15px;
  background-color: darkblue;*/
/*}*/
/*.noPosterMovie {*/
  /*position: absolute;
  top: 35%;
  font-size: 1.75em;
  left: 22%;
  width: 150px;*/
/*}*/





/*.movieResultsWrapper {

}*/
/*.movieResult {
  height: 380px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.noPosterMovieWrapper {
  margin: 0 15px;
  background-color: darkblue;
}
.noPosterMovie {
  position: absolute;
  top: 35%;
  font-size: 1.75em;
  left: 22%;
  width: 150px;
}*/
/*.movieResultsWrapper .movieTitle {

}*/
