
/*************************
        CLEAR FIX
*************************/
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
/*************************
      STYLING CLASSES
*************************/
.text-muted {
  color: grey;
}
/************************************
        SEARCH FORM: All Pages
************************************/

.search_form input {
  font-size: 1.25em;
  float: left;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin-left: 5%;
}
.search_form .btn {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
}
.search_form input:focus {
  box-shadow: 5px 2px 30px 4px #393e76;
  outline: none;
}
/************************************
        SEARCH FORM: HOME PAGE
************************************/
.home_search_form {
  position: relative;
  height: 45vh;
  max-width: 650px;
  margin: auto;
}
.home_search_form .search_form {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home_search_form .search_form input {
  width: 65%;
}
/************************************
                NAVBAR
************************************/
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar, .btn-primary {
  background-color: slateblue;
}
.navbar-header .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}
form.navbar-form.navbar-left.ng-pristine.ng-valid {
  /*display: none;*/
  text-align: center;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: antiquewhite;
}
/******************************************************
          MOVIE RESULTS PAGE / NOW PLAYING PAGE
******************************************************/
.movieResult img {
  width: 100%;
  height: 100%;
}
.showPagesButtonDivs {
  margin: 20px 0;
}
.showCurrPage {
  text-align: right;
}
.showPagesButtonDivs i {
  cursor: pointer;
}
.results {
  margin-top: 30px;
}
.search {
  margin-top: 20px;
}
.movieResultsWrapper {
  margin: 30px auto;
}
.keyword {
  color: slateblue;
}
.movieResultsWrapper > *:nth-child(2n+1) {
   clear: both;
}
.movieResult {
  text-align: center;
}
.noPosterMovie {
  margin-top: 50%;
  display: block;
  font-size: 2em;
}
/************************************
          MOVIE DETAILS PAGE
************************************/
.movieDetails {
  margin: 30px auto;
}
.detailsRow {
  /*margin-top: 50px;*/
}
.detailsRow img {
  width: 100%;
  margin: 30px 0 20px 0;
}
.movie_rating {
  font-size: .65em;
}
.movieDetailsInfo div {
  margin: auto;
  max-width: 500px;
}
/************************************
              MEDIA QUERIES
************************************/
.movieResultsWrapper .col-xs-6 {
  padding: 0;
}
/*@media screen and (max-height: 550px) {
  .movieResultsWrapper .col-xs-6 {
    padding: 0;
  }
}*/
@media screen and (min-width: 768px) {
  .movieResult{
    width: 240px;
    height: 360px;
    overflow: hidden;
    background-color: #a1cacf;
  }
  .movieResultsWrapper > *:nth-child(2n+1) {
     clear: none;
  }
  .movieResultsWrapper > *:nth-child(3n+1) {
     clear: both;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 10px;
    top: 0;
  }
  form.navbar-form.navbar-left.ng-pristine.ng-valid, .navbar-left {
    display: block;
    text-align: center;
    float: none!important;
  }
  .movieDetailsInfo div {
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .movieResult{
    width: 235px;
    height: 352.5px;
  }
  .movieResultsWrapper > *:nth-child(3n+1) {
     clear: none;
  }
  .movieResultsWrapper > *:nth-child(4n+1) {
     clear: both;
  }
}

@media screen and (min-width: 1200px) {
  .movieResult{
    width: 190px;
    height: 285px;
  }
  .movieResultsWrapper > *:nth-child(4n+1) {
     clear: none;
  }
  .movieResultsWrapper > *:nth-child(6n+1) {
     clear: both;
  }
}
