<div class="movieDetails container">

  <div class="text-center">
    <!-- without filter -->
    <!-- <h1>{{currMovie.title}} ({{currMovie.release_date.slice(0, 4)}})</h1> -->
    <!-- with filter -->
    <h1>
      <strong>{{currMovie.title}}</strong>
      <span class="text-muted" ng-if="currMovie.release_date">({{currMovie.release_date | date: 'yyyy'}})</span>
      <span class="movie_rating"><i class="fa fa-star" aria-hidden="true"></i> {{currMovie.vote_average}}</span>
    </h1>
    <h3><em>{{currMovie.tagline}}</em></h3>
  </div>

  <div class="row detailsRow">
    <div class="col-xs-12 col-sm-6 text-center">
      <a ng-if="currMovie.homepage" href="{{currMovie.homepage}}">
        <img src="https://image.tmdb.org/t/p/w500/{{currMovie.backdrop_path}}" alt="{{currMovie.title}} Poster" />
      </a>

      <img ng-if="!currMovie.homepage" src="https://image.tmdb.org/t/p/w500/{{currMovie.backdrop_path}}" alt="{{currMovie.title}} Poster" />

    </div>
    <div class="col-xs-12 col-sm-6 movieDetailsInfo">
      <div>
        <p>
          <!-- w/o filter -->
          <!-- <strong>Release Date</strong>: {{currMovie.release_date.slice(5)}}-{{currMovie.release_date.slice(0, 4)}}<br> -->
          <!-- with filter -->
          <span ng-if="currMovie.release_date"><strong>Release Date</strong>: {{currMovie.release_date | date: 'MM-dd-yyyy'}}</span>
          <span ng-if="!currMovie.release_date"><strong>Release Date</strong>: N/A</span>
        </p>
        <p>
          <strong>Description</strong>: {{currMovie.overview}}
        </p>
        <p>
          <strong>Runtime</strong>: {{currMovie.runtime}} minutes
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>


<!-- <ul>
  <li>
    Title: {{currMovie.title}}<br>
    Release Date: {{currMovie.release_date}}<br>
    Description: {{currMovie.overview}}<br>
    Runtime: {{currMovie.runtime}} minutes
  </li>
  <h2>Genres:</h2>
  <ul ng-repeat="genre in currMovie.genres">
    <li>
      {{genre.name}}
    </li>
  </ul>

</ul> -->

<!-- <ul>
  <li>
    Title: {{currMovie.title}}<br>
    Release Date: {{currMovie.release_date}}<br>
    Description: {{currMovie.overview}}<br>
    Runtime: {{currMovie.runtime}} minutes
  </li>
  <h2>Genres:</h2>
  <ul ng-repeat="genre in currMovie.genres">
    <li>
      {{genre.name}}
    </li>
  </ul>

  <a ng-if="currMovie.homepage" href="{{currMovie.homepage}}">
    <img src="https://image.tmdb.org/t/p/w500/{{currMovie.poster_path}}" alt="" />
  </a>

  <img ng-if="!currMovie.homepage" src="https://image.tmdb.org/t/p/w500/{{currMovie.poster_path}}" alt="" />

</ul> -->
